*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Purple: hsl(257, 40%, 49%);
    --Magenta: hsl(300, 69%, 71%);
    --White: hsl(0,0%, 100%);

    --font-body: 'Open Sans', sans-serif;
    --font-heading: 'Poppins', sans-serif;
}

body{
    font-family: var(--font-body);
    background-color: var(--Purple);
    color: var(--White);
    min-height: 100vh;
    padding: 2rem 2.5rem;
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    max-width: 100%;
    display: block;
}

header{
    margin-bottom: 3rem;
}

.logo{
    width: 120px;
    height:auto;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 4rem;
}

.hero-image img{
    width: 100%;
    height: auto;
}

.content{
    text-align: center;
}

.content h1{
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.content p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    opacity:0.9;
}

.cta-button{
    background-color: var(--White);
    color: var(--Purple);
    font-family: var(--font-heading);
    font-size: 0.875rem;
    padding: 0.75rem 4rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.cta-button:hover{
    background-color: var(--Magenta);
    color: var(--White);
}

footer{
    text-align: center;
}

.social-footer{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--White);
    border-radius: 50%;
    color: var(--White);
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-footer a:hover{
     border-color: var(--Magenta);
    color: var(--Magenta);
}

@media (min-width: 768px) {
    body {
        padding: 3rem 5rem;
        background-image: url(images/bg-desktop.svg);
    }

    .logo {
        width: 200px;
    }

    .container {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }

    .hero-image {
        flex: 1;
    }

    .content {
        flex: 1;
        text-align: left;
    }

    .content h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .content p {
        font-size: 1.125rem;
        margin-bottom: 2rem;
    }

    footer {
        text-align: right;
        margin-top: 2rem;
    }

    .social-footer {
        justify-content: flex-end;
    }
}